# This workflow will do a clean install of go dependencies, build the source code and run tests across different versions of go

name: Go Integration CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read # for actions/checkout to fetch code
      pull-requests: read # for golangci/golangci-lint-action to fetch pull requests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [1.25.x]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
       

      - name: Checkout rpc-go repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          repository: device-management-toolkit/rpc-go
          path: rpc-go
          ref: main

      - name: Checkout console repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          repository: device-management-toolkit/console
          path: console
          ref: main

      - name: Set go-wsman-messages dependency to current branch
        run: |
          cd rpc-go
          go mod edit -replace github.com/device-management-toolkit/go-wsman-messages=../${{ github.repository }}
          cd ../console
          go mod edit -replace github.com/device-management-toolkit/go-wsman-messages=../${{ github.repository }}

      - name: Build rpc-go
        run: |
          cd rpc-go
          go build -o rpc ./cmd/rpc/main.go

      - name: Build console
        run: |
          cd console
          CGO_ENABLED=0 go build -o console ./cmd/app/main.go

      - name: Run tests
        run: |
          go test ./...
